<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="MongoDBConnection" connectionString="" />
    <add name="ElasticConnection" connectionString="" />
  </connectionStrings>
  <appSettings>
    <!-- ### GENERAL CONFIGURATIONS ### -->
    <add key="IS_REINDEX" value="true" />

    <!-- ### MONGODB CONFIGURATIONS ### -->
    <add key="MongoEnvironment" value="Development" />
    <add key="MongoCount" value="1000" />
    <add key="SkipCount" value="0" />
    <add key="MongoSSL" value="true" />
    <add key="MongoRS" value="" />
    <add key="MongoDatabase" value="" />
    <add key="MongoCollection" value="" />

    <!-- ### ELASTICSEARCH CONFIGURATIONS ### -->
    <add key="ELASTIC_AUTHENTICATION" value="" />
    <add key="ELASTIC_BULK_CONTENT_TYPE" value="application/x-ndjson" />
    <add key="ELASTIC_BULK_ENDPOINT" value="_bulk/" />
    <add key="ELASTIC_INDEX_PREFIX" value="" />

    <!-- ### LOGGING, NOTIFICATIONS AND SERVICE CONTROL ### -->
    <add key="LogPath" value="./Logs/" />
    <add key="LogLastIndexToFile" value="false" />
    <add key="LogToFile" value="true" />
    <add key="SMTPServer" value="" />
    <add key="EmailNotificTo" value="testing@denniskhau.com" />
    <add key="EmailNotificSubject" value="Sync Status" />
    <add key="ServiceName" value="MongoDB to Elasticsearch Service" />
    <add key="ServiceRuntimeIntervalInMS" value="1800000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
